/* @charset "UTF-8"; */

html, body, #map {
    height: 100vh;
    width: 100vw;
}

/* BODY */
body {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: monospace;
}


/* CODIGO PARA LA PAGINA PRINCIPAL */
.navbar {
  float: center;
  overflow: hidden;
  background-color: #333; 
  width: 100%;
  /* position: fixed; */
}

.navbar li {
  float: left;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

/* top-menu lists */
.subnav li {
  float: right;
}

.subnav .subnavbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: #4CAF50;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #4CAF50;
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}


/* BANNER
.hero-image {
  background-image: url('../images/banner2.jpg');
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 0em 0em 5em 0em;
  margin: 4em 0em 0em 0em;
}

.hero-text {
  text-align: center;
  top: 50%;
  left: 50%;
  color: white;
  padding: 20em 0em 0em 0em; 
}

