/* @charset "UTF-8"; */

html, body, #map {
    height: 100%;
    width: 100vw;
}

/* BODY */
body {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: monospace;
}


.productores {
  padding: 0em 0 5em 0;
  background-color: rgb(0,0,0);
  background-image: url('/home/diogenes/projects/cyberpunklabs.github.io/images/banner2.jpg');
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
  /* opacity: 0.5; */
}


/* #map-id { height: 450px; }*/

/* CODIGO PARA LA PAGINA PRINCIPAL */
/* TOP MENU */ 
.top-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

/* top-menu lists */
.top-menu li {
  float: right;
  width: 25%;
}

/* top-menu links */
.top-menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* top-menu links colors */
.top-menu li a:hover:not(.active) {
  background-color: #111;
}

/* top-menu active link */
.top-menu .active {
  background-color: #4CAF50;
}


/* BANNER */
.hero-image {
  background-image: url('https://raw.githubusercontent.com/CyberPunkLabs/cyberpunklabs.github.io/master/images/banner2.jpg');
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 0em 0em 5em 0em;
  margin: 3em 0em 0em 0em;
}

.hero-text {
  text-align: center;
  top: 50%;
  left: 50%;
  color: white;
  padding: 20em 0em 0em 0em; 
}

/*
.hero-text button {
  background-color: transparent;
  box-shadow: inset 0 0 0 3px #6cc091;
  color: #6cc091 !important;
  border-radius: 300px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: .75em;
  font-weight: 400;
  height: 3.75em;
  line-height: 3.85em;
  letter-spacing: 1.5px;
  padding: 0 4em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  margin-bottom: 12px;
}

.hero-text button:hover {
  background-color: white;
}
*/


/* BUTTONS */
.my-button {
  background-color: transparent;
  box-shadow: inset 0 0 0 3px #6cc091;
  color: #6cc091 !important;
  border-radius: 300px;
  border: 200px;
  cursor: pointer;
  display: inline-block;
  font-size: .75em;
  font-weight: 400;
  height: 3.75em;
  width: 15em;
  line-height: 3.85em;
  letter-spacing: 1.5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  margin-bottom: 12px;
}


/* MEDIA MENU */
.media-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  /* position: -webkit-sticky; */
  /* position: sticky; */
  top: 0;
  width: 100%;
}

/* media-menu lists */
.media-menu li {
  float: left;
  width: 33.33333%;
}

/* media-menu links */
.media-menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* media-menu colors */
.media-menu li a:hover {
  background-color: #111;
}


/* MAIN SECTION */
.main-section {
    /*background-image: url(../../images/matrix.gif); */
    /*background-size: cover;*/
    /*font-family: 'Orbitron', courier, sans-serif;*/
    /*font-size: 17px;*/
    /*background-color: rgb(250,250,250);*/
    padding: 1em 1em 1em 1em;
    width: 70%;
}


/* DESTACADOS */
.destacados {
    background-color: rgb(250,250,250);
    border-left: 3px solid red;
    border-right: 1px solid grey;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    border-radius: 8px;
    color: rgb(0,200,0);
    font-size: 16px;
    text-align: left;
    padding: 0 1em 2em 1em;
}

.destacados a {
    color: red;
}


/* FOOTER */
.main-footer {
  padding: 1em 0 2em 0;
  background-color: #333;
  color: #6cc091 !important;
}

.main-footer li {
    display: inline;
}

.main-footer a {
    color: rgb(0,0,0);
}



/* PARA PAGINA PRODUCTORES 
#mapid { height: 180px; } */


/*
.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
}
*/

